.emi-header {
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
}

.emi-footer {
    color: #071b50;
    font-size: 1.25rem;
    font-weight: 600;
}

#donutContent p {
    font-size: 1.25rem;
    font-weight: 600;
}    

#donutContent div {
    color: orange;
    margin-bottom: 1rem;

}

#donutContent h5 {
    color:#000;
    font-size: 1.5rem;
}