<div *ngIf="checkResponse" class="col-sm-12">
    <div>
        <h5 class="emi-header">Break-up of Total Payment</h5>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <canvas baseChart [data]="chartData" [labels]="chartLabels" [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                width="304" height="365" [colors]="chartColors"></canvas>
        </div>
        <div class="col-sm-5" id="donutContent">
            <div>
                <p>
                    <span></span>Principal Amount</p>
                <h5 id="loan_principal">{{checkResponse.principal | currency:'EUR'}}</h5>
            </div>
            <div>
                <p>
                    <span></span>Total Interest</p>
                <h5 id="loan_interest">{{checkResponse.interest | currency:'EUR'}}</h5>
            </div>
            <div>
                <span>
                    <p>Total Payment</p>
                    <p>(Principal + Interest)</p>
                </span>
                <h5 id="loan_total_payment">{{(checkResponse.principal + checkResponse.interest)| currency:'EUR'}}</h5>
            </div>
        </div>
    </div>
    <div>
        <h5 class="emi-footer">Your Monthly Payment</h5>
        <h1 id="loan_emi">{{checkResponse.monthlyCost | currency:'EUR'}}</h1>
    </div>
</div>